h1.title {
  margin-bottom: 0.5em;
  color: black;
}

.subtitle {
  color: gray;
  font-size: 1.4em;
  line-height: 1.3em;
}

.md-typeset a {
  font-weight: bold;
}

.md-announce__inner {
  text-align: center;
}

.md-announce__inner a {
  color: white;
}

.class-summary {
  padding: 40px;
  margin: 40px;
  border: thin grey solid;
}

.class-name a {
  color: darkblue;
  text-decoration: underline;
  font-style: underline;
  font-size: 1.3em;
  font-weight: 500; 
}

.instructor-list {
  padding-top:10px;
}

.class-description {
  padding-top:30px;
  font-size: 0.9em;
}

.centerer-container {
  display: flex;
  justify-content: center;
}

.apply-button {
  color: white;
  background-color: lightblue;
  padding: 15px 35px;
  margin: auto;
  text-decoration: none
}

.apply-button:link,
.apply-button:hover,
.apply-button:active,
.apply-button:visited {
  color: white;
}

li {
  margin-bottom: 0.075em !important
}

td {
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
}

